/* sass */
$nav-tc-active: rgb(0, 0, 0);
$backgroud-colour: #ffffff;
$nav-text-colour: $backgroud-colour;
$primary-c: #007bff;


/* body */
body {
    background-color: $backgroud-colour;
}


/* header */
div.wrapper-nav {
    max-width: auto;
    margin: 0 auto;
    // background-color: black;
}

div.nav div {
    // transition: all 0.5s;

    text-align: center;
    padding: 10px 0;
    margin: 10px 0;
    // border-bottom: 2px solid $primary-c;
    border-bottom: 2px solid $primary-c;

}

div.nav div.col:hover {
    transition: all 0.5s;
    border-bottom: 2px solid $nav-text-colour;
}

div.nav div a {
    color: $nav-text-colour;
    text-align: center;
    font-size: 25px;
}

div.nav a.nav-item div {
    color: $nav-text-colour;
    text-align: center;
    font-size: 25px;
}

div.nav a.nav-item:hover {
    text-decoration: none;
}

div.nav div a:hover {
    text-decoration: none;
}

div.nav div.active a {
    color: $nav-tc-active;
}

div.nav div.active a:hover {
    text-decoration: none;
    border: 0px;
}

/* main wrapper */
div.wrapper-main {
    max-width: 940px;
    margin: 0 auto;
    text-align: center;
}