/* sass */
$nav-text-colour: rgb(231, 187, 233);
$nav-tc-active: rgb(71, 70, 160);
$backgroud-colour: #ebe8e8;

/* body */
body {
    background-color: $backgroud-colour;
}


/* header */
div.wrapper-nav {
    max-width: auto;
    margin: 0 auto;
    // background-color: black;
}

div.nav div {
    text-align: center;
    margin: 20px 20px;
    // font-size: 15px;
    // text-
}

div.nav div a {
    color: $nav-text-colour;
    text-align: center;
    font-size: 25px;
}

div.nav div a:hover {
    transition: all 0.25s;
    text-decoration: none;
    border-bottom: 2px solid $nav-text-colour;
    padding-bottom: 5px;
}

div.nav div.active a {
    color: $nav-tc-active;
}

div.nav div.active a:hover {
    text-decoration: none;
    border: 0px;
}

/* main wrapper */
div.wrapper-main {
    max-width: 940px;
    margin: 0 auto;
    text-align: center;
}

/* welcome */
div.welcome {
}

/* img 0 */
img.img0 {
    text-align: center;
    width: auto;
    height: 400px;
}

/* media queries */
@media (max-width: 768px) {
    div.hidden-768 div a {
        // display: none;
        font-size: 16px;
    }
}

// /* img */
// div.img-nav img {
//     height: 100px;
//     width: 200px;
// }